@font-face {
    font-family: Roboto;
    src: url(./res/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: PlayfairDisplay;
    src: url(./res/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
    --blue: #0891b2;
    --grey: #565656;
}

* {
    font-family: 'Roboto';
}

h1, h2, h3 {
    font-family: 'PlayfairDisplay';
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 30px;
    margin: 0 auto;
}
p {
    padding: .3rem .4rem;
    
    text-align: justify;
    line-height: 1.4;
    color: var(--grey);
}
svg {
    width: 32px;
    height: 32px;
}
img {
    display: block;
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);

}

body {
    margin: 0 auto;
}
body > * {
    margin-bottom: 1.5rem;
}

header {
    /* background-color: var(--blue); */
}

header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 78%;
    background-color: var(--blue);
    transform: skewY(-20deg);
}
header h1 {
    display: inline-block;
    width: 70%;
    bottom: 0;
    left: 0;

    padding: .3rem .6rem;

    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    line-height: 1.05;
    white-space: normal;
}
header .links {
    margin-top: 1rem;
}
header .image-container {
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); */
}
header .about-me {
    padding-top: 1.5rem;
}
.links a {
    margin: .3rem;
}

.image-container {
    max-width: 90vw;
}

main h2 {
    padding-bottom: 1rem;
}
.project-card {
    max-width: 90vw;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}
.project-card .image {
    width: 100%;
    height: 250px;
    background-color: purple;

    text-align: center;
}
.project-card .header  {
    justify-content: space-around;

    padding: .7rem 0;
}

footer {
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 0;

    color: white;
    background-color: var(--blue);
}
footer p {
    color: white;
    text-align: left;
    padding: 0;
}
footer .info-text {
    padding-top: .9rem;
}
footer .info-text > * {
    padding-bottom: .7rem;
}
footer .info-text .call-for-action {
    font-size: 1.1rem;
    text-align: justify;
}

/* ! Utility classes */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    scale: 1.1;
}