@font-face {
    font-family: Roboto;
    src: url(./res/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: PlayfairDisplay;
    src: url(./res/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
    --blue: #0891b2;
    --grey: #565656;
}

* {
    font-family: 'Roboto';
}

h1, h2, h3 {
    font-family: 'PlayfairDisplay';
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 30px;
    margin: 0 auto;
}
p {
    padding: .3rem .4rem;
    
    text-align: justify;
    line-height: 1.4;
    color: var(--grey);
}
svg {
    width: 32px;
    height: 32px;
}
img {
    display: block;
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);

}

body {
    margin: 0 auto;
}
body > * {
    margin-bottom: 1.5rem;
}
header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -80px;
    left: 0;
    right: 0;
    bottom: 78%;
    background-color: var(--blue);
    transform: skewY(-20deg);
}
header h1 {
    display: inline-block;
    width: 70%;
    position: absolute;
    top: 14.4rem;
    left: .6rem;

    padding: .3rem .6rem;

    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    line-height: 1.05;
    white-space: normal;
}
header .links {
    margin-top: 1rem;
}
header .content {
    padding-top: 1.5rem;
}
.links a {
    margin: .3rem;
}
header img {
    max-width: 90vw;
}

main h2 {
    padding-bottom: 1rem;
}
.project-card {
    max-width: 90vw;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}
.project-card .image {
    width: 100%;
    height: 250px;
    background-color: purple;

    text-align: center;
}
.project-card .header  {
    justify-content: space-around;

    padding: .7rem 0;
}

footer {
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 0;

    color: white;
    background-color: var(--blue);
}
footer p {
    color: white;
    text-align: left;
    padding: 0;
}
footer .info-text {
    padding-top: .9rem;
}
footer .info-text > * {
    padding-bottom: .7rem;
}
footer .info-text .call-for-action {
    font-size: 1.1rem;
    text-align: justify;
}

/* ! Utility classes */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ! Pseudo-classes */
a:hover {
    scale: 1.1;
}

/* Media queries */
/* ! Tablet */
@media (min-width: 500px) {
    .container {
        display: initial;
    }
    header {
        max-width: 80vw;
        background: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        margin-top: 4rem;

        display: flex;
        justify-items: center;
        align-items: center;
    }
    header:before {
        top: -180px;
        bottom: 75%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

    }
    header h1 {
        top: -2.85rem;
        left: 9.1rem;
        z-index: 1;
    }
    header h2 {
        display: inline-block;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: .2rem;
    } 
    header p {
        padding: 0 1rem;
    }
    header img {
        max-width: 50%;
        float: left;
        margin-right: 1rem;
        position: relative;
        top: -3em;
        left: -3rem;
    }
    header .links {
        width: 100px;
        margin: 0.5rem auto 1rem;
    }

    main {
        width: 100vw;
    }
    main h2 {
        margin: 0 1rem;
    }
    .project-card-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 1rem;
    }
    .project-card {
        flex: 1;
        min-width: calc(45% - 50px);
        /* margin: 1rem; */
        /* max-width: 200px; */
    }

    footer {
        width: 100vw;
    }
}

@media (min-width: 1000px) {
    /* ! Header DESKTOP  */
    header:before {
        top: -350px;
        bottom: 30%;
    }
    header {
        display: initial;
        height: 100vh;
        background-color: initial;
        box-shadow: none;

        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .container {
        display: block;
        background-color: white;
        height: 600px;
        width: 80vw;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
    header h1 {
        display: inline-block;
        position: absolute;
        top: 37rem;
        left: 7.5rem;

        font-size: 5rem;

        transform: translate(0, -50%);
    }
    header h2 {
        font-size: 3rem;
    }
    header p {
        font-size: 1.1rem;
    }
    header .links {
        scale: 1.3;
    }
    header img {
        max-width: 100%;
        margin: 0;
        float: left;
        position: static;
        top: 0;
        left: 0;

        transform: translateY(-15%);
    }
    header .lead {
        width: 60%;
        /* height: 100%; */
    }
    header .content {
        height: 100;
    }

    main {
        padding: 3rem;
    }
    .project-card-container.flex-center-column {
        justify-content: start;
    }
    .project-card {
        flex: 1;
        min-width: calc(25% - 50px);
        max-width: 350px;
        /* margin: 1rem; */
        /* max-width: 200px; */
    }
}